.card { 
  margin-bottom: 30px;
}

.card .dialog {
  cursor: pointer;
}

.card-img-top { 
  height: 200px;
}

.card-footer {
  padding: 0;
  background: #fff;
}

.card-footer button {
  text-transform: uppercase;
}