.card { 
  margin-bottom: 30px;
}

.card .dialog {
  cursor: pointer;
}

.card-img-top { 
  height: 200px;
}

.card-footer {
  padding: 0;
  background: #fff;
}

.card-footer button {
  text-transform: uppercase;
}

.carousel {
  width: 100%;
  height: 300px;
}

/* Fix carousel to display full detailed image instead of just fill the slider */
.slide {
  height: 100%;
  object-fit: contain !important;
  object-position: center !important;
  min-height: 0 !important;
}

.card-title {
  height: 50px;
}

.card-text {
  text-align: center;
}

.badge {
  background-color: #ffbc00;
  color: #23272B;
}