.card-header {
    height: 70px;    
    background-color: #ffbc00;
}

.card-text {
    text-align: left;
}

@media screen and (min-width: 319px) and (max-width: 321px) {
    .smallMobile {
      font-size: 10px;
    }
    .orderQuantityTitle {
      width: 150px;
      display: inline-block;
    }
  }
  @media screen and (min-width: 359px) and (max-width: 415px)  {
    .smallMobile {
      font-size: 13px;
    }
    .orderQuantityTitle {
      width: 175px;
      display: inline-block;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 769px) {
    .card {
      font-size: 85%;
    }
    .orderQuantityTitle {
      width: 140px;
      display: inline-block;
    }
  }
  @media screen and (min-width: 1023px) and (max-width: 1050px) {
    .card {
      font-size: 90%;
    }
    .orderQuantityTitle {
      width: 255px;
      display: inline-block;
    }
  }