<div class="col-12 mb-3 mt-3">
  <div class="input-group">
    <div class="searchIcon">
<i class="fa fa-search" aria-hidden="true"></i>
</div>
<input 
#query
(keyup)="searchFilter(query.value)"
type="text" class="form-control align-middle" placeholder="Search for product...">
</div>
</div>
<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
        <ng-container *ngFor="let p of filteredProducts; let i = index; let l = last">
          <div class="col">
            <product-card [product]="p" [shopping-cart]="cart"></product-card>
          </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
          <div *ngIf="(i + 1) % 2  === 1 && l" class="w-50"></div>          
        </ng-container>
      </div>
      <div *ngIf="filteredProducts.length == 0"><p class="mt-1"><strong>No products found</strong></p></div>
  </div>
</div>