<div class="row">
 <div class="col-md-12">
  <div class="card">
    <div class='agm-map-content'>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng">
                <agm-info-window [disableAutoPan]="false" [isOpen]="true">
                    <p class="text-center"><strong>HNShopping</strong></p>
                    <p><strong>Address: </strong>Rolls Royce 21</p>
                    <p><strong>City: </strong>Beverly Hills</p>
                    <p><strong>Country: </strong>United States</p>
                    <p><strong>Phone Number: </strong> (+999)-99-9999</p>
                </agm-info-window>
            </agm-marker>
        </agm-map>
      </div>
  </div>
 </div>
</div>

<div class="row pt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <contact-form></contact-form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">         
      <div class="card-body"> 
        <p class="text-center"><strong>HNShopping</strong></p>
        <p><strong>Address: </strong>Rolls Royce 21</p>
        <p><strong>City: </strong>Beverly Hills</p>
        <p><strong>Country: </strong>United States</p>
        <p><strong>Phone Number: </strong> (+999)-99-9999</p> 
     </div>
    </div>
  </div>
</div>