.spaceing {
    margin: 5px;
}

.login-logo-main {
    color: #ffbc00;
    font-weight: 900;
    font-size: 1.35em;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

.login-logo-sub {
    color: #23272B;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 0;
    text-align: center;
    margin-bottom: 30px;
}