<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
  <div class="card-header text-center page-title"><h3><strong>Shop Statistics</strong></h3></div>
<div class="card-body">
<div class="card">
  <div class="card-header">
    <strong>Abandoned Carts <span class="badge badge-pill">{{ this.registeredUsersAbandonedCarts }}</span></strong>
</div>
<div class="card-body">
  <div class="text-center">
    <div class="col-md-12">
      <div *ngIf="abandonedCarts.length > 0" class="row abandonedCartsHeaders">
      <div class="col-md-3"><strong>#</strong></div>
      <div class="col-md-3"><strong>Customer Name</strong></div>
      <div class="col-md-3"><strong>Total Quantity</strong></div>
      <div class="col-md-3"><strong>Survey To Email</strong></div>
    </div>
    <div class="abandonedCartsBody">
    <div *ngFor="let ac of abandonedCarts; let i = index">
      <div class="row abandonedCartsCart">
        <div class="col-md-3">
          {{ i + 1 }}
        </div>
        <div class="col-md-3">
           {{ ac.userName }}
      </div>
      <div class="col-md-3">
          {{ ac.totalQuantity }}
      </div>
      <div class="col-md-3">
       <button class="btn btn-primary" (click)="sendMail(ac.userId, ac.$key)">Send</button>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
  <div *ngIf="abandonedCarts.length == 0">No abandoned carts found</div>
</div>
</div>
<div class="card mt-2">
  <div class="card-header">
   <strong>Shop Statistics</strong>
  </div>
  <div class="card-body">
  <p class="card-text">Potential buyers in the next hour: <strong>{{ this.potentialBuyersOneHour }}</strong></p>  
  <p class="card-text">Total anonymous carts: <strong>{{ this.totalAnonymousCarts }}</strong></p>  
  <p class="card-text">Total registered carts: <strong>{{ this.totalRegisterdedCarts }}</strong></p>  
  <p class="card-text">Total money earned from sells: <strong>{{ this.totalMoneyEarned | currency:'ILS':true }}</strong></p>    
  <p class="card-text">Total items sold: <strong>{{ this.totalItemsSoldInShop }}</strong></p> 
  <div class="col-md-12 text-center m-2">
    <p class="card-text"><strong>Top 5 Items</strong></p>
    <div class="row">
     <div *ngFor="let t5i of top5items; let i = index" class="card top5 m-1">
       <div class="card-body">
       <div class="top5title text-center">{{i + 1}}. {{t5i[0]}}</div>        
       <img src="{{t5i[2]}}" class="top5img"/>
       <div>Sold: {{t5i[1]}}</div>
     </div>
    </div>
    </div>
    <p *ngIf="top5items.length == 0" class="card-text">No items bought in your shop.</p>
  </div>        
</div>
</div>

<div class="card mt-2">
  <div class="card-header">
   <strong>Survey Statistics</strong>
  </div>
  <div class="card-body">
    <div class="row mb-2">
  <div class="col-md-8">
  <p class="card-text">Total Surveys Filled: <strong>{{ totalSurveys }}</strong></p>
  </div>
  <div class="col-md-4 text-right">
    <button class="btn btn-danger btn-sm" (click)="resetSurveyStatistics()">Reset Survey Statistics</button>
  </div>
</div>
<div *ngIf="totalSurveys > 0">
  <strong>Shop have high prices</strong>
  <div class="progress mt-1 mb-2">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" [style.width]="(highPrice.yes / this.totalSurveys)*100 + '%'"><strong>Yes: {{ ((highPrice.yes / this.totalSurveys)*100 | number : '1.0-2' ) + "%" }}</strong></div>
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [style.width]="(highPrice.no / this.totalSurveys)*100 + '%'"><strong>No: {{ ((highPrice.no / this.totalSurveys)*100 | number : '1.0-2' ) + "%" }}</strong></div>    
  </div>
  <strong>Shop missing items that usually bought toghter:</strong>
  <div class="progress mt-1 mb-2">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" [style.width]="(missingItems.yes / this.totalSurveys)*100 + '%'"><strong>Yes: {{ ((missingItems.yes / this.totalSurveys)*100 | number : '1.0-2' ) + "%" }}</strong></div>
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [style.width]="(missingItems.no / this.totalSurveys)*100 + '%'"><strong>No: {{ ((missingItems.no / this.totalSurveys)*100 | number : '1.0-2' ) + "%" }}</strong></div>    
  </div>
  <strong>Shop needs to start do shippings:</strong>
  <div class="progress mt-1 mb-2">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" [style.width]="(notShipping.yes / this.totalSurveys)*100 + '%'"><strong>Yes: {{ ((notShipping.yes / this.totalSurveys )*100 | number : '1.0-2' ) + "%" }}</strong></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [style.width]="(notShipping.no / this.totalSurveys)*100 + '%'"><strong>No: {{ ((notShipping.no / this.totalSurveys )*100 | number : '1.0-2' ) + "%" }}</strong></div>    
  </div>
</div>
<div *ngIf="totalSurveys == 0">
  <p class="card-text"><strong>Cant to display statistics when there is no at least one survey filled.</strong></p>
</div>
</div>
</div>
</div>
</div>
