.card .top5 {
    width: 190px;
    height: 260px;
    text-align: center;
    font-weight: bold;
}

.top5img {
    border-radius: 60px;
    height: 150px;
    width: 150px;
}

.top5title {
    height: 50px;
    overflow-y: auto;
}