<div class="card">
  <div class="card-header text-center"><h3><strong>Manage Categories</strong></h3></div>
<div class="card-body">
     <!-- Stack the columns on mobile by making one full-width and the other half-width -->
     <div class="row pb-2">
        <div class="col-10 col-md-10">
         <input 
          #query
          (keyup)="filter(query.value)"
          type="text" class="form-control align-middle" placeholder="Filter by Category Name...">
        </div>
        <div class="col-2 col-md-2">
          <button class="btn btn-primary pull-right" (click)="openDialog()"><i class="fa fa-plus" aria-hidden="true"></i></button>            
        </div>
      </div>
      <div *ngIf="items.length > 0" class="categories-table">
    <data-table
      [items]="items"
      [itemCount]="itemCount"
      [indexColumn]="false"
      (reload)="reloadItems($event)">
      <data-table-column
        [property]="'name'"  
        [header]="'Name'"
        [sortable]="true"
        [resizable]="true"
      >
      </data-table-column>
    
      <data-table-column class="align-center"
        [property]="'$key'" 
      >
        <ng-template #dataTableCell let-item="item">
        <div class="align-center">
          <button class="btn btn-primary" (click)="openDialog(item.name, item.$key)"><i class="fa fa-pencil" aria-hidden="true"></i></button>      
          <button class="btn btn-danger" (click)="delete(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
        </ng-template>
      </data-table-column>
    
    </data-table>
    </div>
    <div *ngIf="items.length == 0">
        <p class="card-text mt-2">No categories found.</p>
      </div>
  </div>
</div>