.card {
    margin-bottom: 20px;
}

.margin-auto {
    margin: auto;
    width: 100%;
}

table {
    display: block;
    max-height: 300px;    
    overflow-y: auto;   
    overflow-x: hidden; 
}
.page-title {
    height: 70px;
    background-color: #ffbc00;
}

.fa {
    float: right;
    cursor:pointer;
}

.toggle {
    cursor:pointer;
}

.badge {
    background-color: #ffbc00;
}

.table {
    overflow-x: auto;
    font-size: 90%;
    display: none;    
}

.table-show {
    display: block;
}

