<div class="card">
    <div class="card-header"><h5>Inbox</h5></div>
  <div class="card-body">
      <div class="card">
          <div class="card-header"><h5>Registered</h5></div>
          <div class="card-body">
                <div class="card">
                    <div class="card-header"><h5>Not Handled</h5></div>
                  <div class="card-body">
                      <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Message</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let rh of registeredNotHandled; let i = index">
                              <th scope="row">{{i}}</th>
                              <td>{{rh.name}}</td>
                              <td><a href="mailto:{{rh.email}}?subject='HNShopping - Regarding Your Message'" target="_top" >{{rh.email}}</a></td>
                              <td>{{rh.phone}}</td>
                              <td>{{rh.message}}</td>
                              <td>Handled</td>
                            </tr>
                            
                          </tbody>
                        </table>
                </div>
                 </div>
                  <div class="card">
                      <div class="card-header"><h5>Handled</h5></div>
                      <div class="card-body">
                        
                      </div>
                    </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header"><h5>Not Registered</h5></div>
            <div class="card-body">
                  <div class="card" >
                      <div class="card-header"><h5>Not Handled</h5></div>
                    <div class="card-body">
                        <p *ngIf="anonymousNotHandled.length == 0">No Messages</p>
                        <div *ngIf="anonymousNotHandled.length > 0">
                            render the anonymous not handled table
                        </div>
                  </div>
                   </div>
                    <div class="card">
                        <div class="card-header"><h5>Handled</h5></div>
                        <div class="card-body">
                            <p *ngIf="anonymousHandled.length == 0">No Messages</p>
                            <div *ngIf="anonymousHandled.length > 0">
                                render the anonymous handled table
                            </div>
                        </div>
                      </div>
            </div>
          </div>
  </div>
</div>





















<!-- <div class="row">
  <div class="col col-md-12">
   <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control align-middle" placeholder="Filter by Customer Name...">
  </div>
</div>
<div class="contact-table">
  <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)">
    <data-table-column
      [property]="'name'"  
      [header]="'Name'"
      [sortable]="true"
      [resizable]="true"
      width="150px"
    >
    <ng-template #dataTableCell let-item="item">
       {{ item.name }}
    </ng-template>
    </data-table-column>

    <data-table-column
    [property]="'email'"
    [header]="'Email'"
    [sortable]="true"
    [resizable]="true"
    width="150px"
  >
  <ng-template #dataTableCell let-item="item">
     {{ item.email }}
  </ng-template>
  </data-table-column>

  <data-table-column
  [property]="'phone'"  
  [header]="'Phone'"
  [sortable]="true"
  [resizable]="true"
  width="150px"
>
<ng-template #dataTableCell let-item="item">
   {{ item.phone }}
</ng-template>
</data-table-column>

    <data-table-column
    [property]="'datePlaced'"
    [header]="'Date Placed'"
    [sortable]="true"
    [resizable]="true"
    width="120px"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.datePlaced | date:'dd-MM-yyyy' }}
    </ng-template>
  </data-table-column>

  <data-table-column
  [property]="'message'"  
  [header]="'Message'"
  [sortable]="true"
  [resizable]="true"
  width="150px"
>
<ng-template #dataTableCell let-item="item">
   {{ item.message }}
</ng-template>
</data-table-column>
  </data-table>
</div> -->