<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
  <div class="card-header text-center"><h3><strong>Admin Permissions</strong></h3></div>
<div class="card-body">
<div class="row">
  <div class="col col-md-12 pb-2">
   <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control align-middle" placeholder="Filter by User Name...">
  </div>
</div>
<div *ngIf="items.length > 0" class="users-table smallScreen">
  <data-table
    [items]="items"
    [itemCount]="itemCount"
    [indexColumn]="false"
    (reload)="reloadItems($event)">
    <data-table-column
      [property]="'name'"  
      [header]="'Name'"
      [sortable]="true"
      [resizable]="true"
    >
    <ng-template #dataTableCell let-item="item">
       {{ item.name }}       
    </ng-template>
    </data-table-column>

    <data-table-column
      [property]="'email'"  
      [header]="'Email'"
      [sortable]="true"
      [resizable]="true"
    >
    <ng-template #dataTableCell let-item="item">
       {{ item.email }}       
    </ng-template>
    </data-table-column>

    <data-table-column
    [property]="'isAdmin'"
    [header]="'Admin'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      <div class="align-center">
        <mat-checkbox #checkBoxPermission name="checkBoxPermission" [(ngModel)]="item.isAdmin" (click)="showConfirm($event, item, checkBoxPermission.checked)"></mat-checkbox>
      </div>
    </ng-template>
  </data-table-column>
  
  </data-table>
    </div>
    <div *ngIf="items.length == 0">
        <p class="card-text">No users found.</p>
      </div>
  </div>
</div>