<div class="card">
  <div class="card-header text-center"><h3 class="forMobile"><strong>Manage Products</strong></h3></div>
<div class="card-body">
 <!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row pb-2">
    <div class="col col-md-10">
     <input 
      #query
      (keyup)="filter(query.value)"
      type="text" class="form-control" placeholder="Filter by Product Name...">
    </div>
    <div class="col col-md-2">
      <a routerLink="/admin/products/new" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </div>
  <div *ngIf="items.length > 0" class="products-table smallScreen">
<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)">
  <data-table-column
    [property]="'title'"  
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
  >
  <ng-template #dataTableCell let-item="item">
      {{ item.title }}
    </ng-template>
  </data-table-column>
  
  <data-table-column
    [property]="'price'"  
    [header]="'Price'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.price | currency:'ILS':true }}
    </ng-template>
  </data-table-column>

  <data-table-column
  [property]="'category'"  
  [header]="'Category'"
  [sortable]="true"
  [resizable]="true"
>
  <ng-template #dataTableCell let-item="item">
    {{ item.category }}
  </ng-template>
</data-table-column>

  <data-table-column 
    class="align-center"
    [property]="'$key'" 
  >
    <ng-template #dataTableCell let-item="item">
    <div class="align-center">
      <button *ngIf="isCollapsed" class="btn btn-primary" [routerLink]="['/admin/products/', item.$key]">Edit</button>
      <button *ngIf="!isCollapsed" class="btn btn-primary smallScreen" [routerLink]="['/admin/products/', item.$key]"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button *ngIf="isCollapsed" class="btn btn-danger" (click)="delete(item)">Delete</button>
      <button *ngIf="!isCollapsed" class="btn btn-danger smallScreen" (click)="delete(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    </ng-template>
  </data-table-column>

  </data-table>
    </div>
    <div *ngIf="items.length == 0">
        <p class="card-text">Your shop don't have any product yet. to create one click on "+".</p>
      </div>
  </div>
</div>

