<div *ngIf="title" class="dlg" >
    <div class="carousel">
        <carousel [sources]="images" [config]="config" class="slideImg"></carousel>
      </div>
    <br>
  <div>
        <h4 >{{ title }}</h4>
        <div class="description">
          <p>{{ description }}</p>
        </div>
        <h3 class="product-price">Only for <span class="badge badge-pill" style="background-color: #ffbc00;">{{ price | currency:'ILS':true }}<i class="fa fa-exclamation" aria-hidden="true" style="margin-left: 6px;"></i></span></h3>
  </div>
</div>    
  