<div class="card" *ngIf="cart$ | async as cart">
<div class="card-header">
<h1 class="text-center"><strong>Shopping Cart</strong></h1>
</div>
  <div class="card-body">
    <p>
      <strong>You have {{ cart.totalItemsCount }} items in your shopping cart.</strong>
      <button *ngIf="cart.items.length" (click)="clearCart()" class="float-right btn btn-danger btn-sm">Clear Shopping Cart</button>
    </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td width="80px" >
          <div [style.backgroundImage]="'url(' + item.images[0] + ')'" class="thumbnail">
          </div>
        </td>
        <td width="400px">
          {{ item.title }}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'ILS':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">Total Price: {{ cart.totalPrice | currency:'ILS':true }}</th>
      </tr>
    </tfoot>
  </table>
  <div class="card-footer text-center">
    <div *ngIf="user">
      <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>
    </div>
    <div *ngIf="!user">
      <button *ngIf="cart.items.length" class="btn btn-primary">Login to Checkout</button>
    </div>   
  </div>
</div>