<div class="card" *ngIf="cart$ | async as cart">
<div class="card-header">
<div class="text-center"><h3><strong>Shopping Cart</strong></h3></div>
</div>
  <div class="card-body">
    <div class="col-12 smallMobile">
    <div class="row mb-3">
      <div class="col-6">
      <strong>You have {{ cart.totalItemsCount }} items in your shopping cart.</strong>
      </div>
      <div class="col-6">
      <button *ngIf="cart.items.length" (click)="clearCart()" class="pull-right btn btn-danger btn-sm smallMobile">Clear Shopping Cart</button>
    </div>
  </div>
  </div>
<div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th></th>
        <th style="width: 500px">Product</th>
        <th style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td width="80px">
          <div [style.backgroundImage]="'url(' + item.images[0] + ')'" class="thumbnail">
          </div>
        </td>
        <td width="400px">
          {{ item.title }}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td width="350px" class="text-right">
          {{ item.totalPrice | currency:'ILS':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">Total Price: {{ cart.totalPrice | currency:'ILS':true }}</th>
      </tr>
    </tfoot>
  </table>
  </div>
  </div>
  <div class="card-footer text-center">
    <div *ngIf="user">
      <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>
    </div>
    <div *ngIf="!user">
      <button *ngIf="cart.items.length" class="btn btn-primary" (click)="loginClick()">Login to Checkout</button>
    </div>   
  </div>
</div>