.card {
    margin-bottom: 30px;
  }

  .card-img-top {
    height: 200px;
  }

  .card-footer {
    text-align: center;
  }

  .short-url {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 520px;
  }
  
  .img-remove {
    align-content: right;
  }
