<div class="sticky-top">
    <i *ngIf="mobileCategoriesHide" class="fa fa-filter mobileCategoriesButton" aria-hidden="true" (click)="toggleMobileCategories()"></i>    
    <i *ngIf="!mobileCategoriesHide" class="fa fa-times mobileCategoriesButton" aria-hidden="true" (click)="toggleMobileCategories()"></i>        
  <div class="list-group mobileCategoriesToggle" [class.mobileHideCategories]="mobileCategoriesHide">
    <a class="list-group-item category-filter text-center">Categories</a>
    <a
      class="list-group-item list-group-item-action"
      [class.active]="!category"
      routerLink="/"
      >All Categories</a>
    <a 
      *ngFor="let c of categories$ | async" 
      routerLink="/"
      [queryParams]="{ category: c.name }"
      class="list-group-item list-group-item-action"
      [class.active]="category === c.name"
    >
      {{ c.name }}
  </a>
</div>
