<h1>Orders</h1>

<div class="orders-table">
  <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)">
    <data-table-column
      [property]="'customer'"  
      [header]="'Customer'"
      [sortable]="true"
      [resizable]="true"
    >
    <ng-template #dataTableCell let-item="item">
      {{ getUserNameByUserId(item.userId) }} {{ userName }}
    </ng-template>
    </data-table-column>
    
    <data-table-column
      [property]="'name'"  
      [header]="'Shipping Name'"
      [sortable]="true"
      [resizable]="true"
    >
      <ng-template #dataTableCell let-item="item">
        {{ item.shipping.name }}
      </ng-template>
    </data-table-column>
  
    <data-table-column
    [property]="'datePlaced'"
    [header]="'Date'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.datePlaced | date:'dd-MM-yyyy' }}
    </ng-template>
  </data-table-column>

  <data-table-column
  [property]="'dateShipped'"
  [header]="'Date Shipped'"
  [sortable]="true"
  [resizable]="true"
>
  <ng-template #dataTableCell let-item="item">
    <div *ngIf="item.dateShipped">
    {{ item.dateShipped | date:'dd-MM-yyyy' }}
  </div>
  <div *ngIf="!item.dateShipped">Order not shipped yet</div>
  </ng-template>
</data-table-column>
  
    <data-table-column class="align-center"
      [property]="'$key'" 
    >
      <ng-template #dataTableCell let-item="item">
      <div class="align-center">
        <button class="btn btn-primary" [routerLink]="['/admin/orders/', item.$key]">View Order</button>
        <button class="btn btn-success" *ngIf="!item.dateShipped" (click)="markShipped(item.$key)">Mark as Shipped</button>
      </div>
      </ng-template>
    </data-table-column>
  
  </data-table>
  </div>
