<div class="card">
  <div class="card-header text-center"><h3><strong>Manage Orders</strong></h3></div>
<div class="card-body">
<div class="row">
  <div class="col col-md-12">
   <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control align-middle" placeholder="Filter by Customer Name...">
  </div>
</div>
<div class="orders-table">
  <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)">
    <data-table-column
      [property]="'userName'"  
      [header]="'Customer'"
      [sortable]="true"
      [resizable]="true"
      width="150px"
    >
    <ng-template #dataTableCell let-item="item">
       {{ item.userName }}
    </ng-template>
    </data-table-column>

    <data-table-column
    [property]="'datePlaced'"
    [header]="'Date Placed'"
    [sortable]="true"
    [resizable]="true"
    width="150px"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.datePlaced | date:'dd-MM-yyyy' }}
    </ng-template>
  </data-table-column>

  <data-table-column
  [property]="'dateShipped'"
  [header]="'Date Shipped'"
  [sortable]="true"
  [resizable]="true"
  width="190px"
>
  <ng-template #dataTableCell let-item="item">
    <div *ngIf="item.dateShipped">
    {{ item.dateShipped | date:'dd-MM-yyyy' }}
  </div>
  <div *ngIf="!item.dateShipped">Order not shipped yet</div>
  </ng-template>
</data-table-column>
  
    <data-table-column class="align-center"
      [property]="'$key'" 
    >
      <ng-template #dataTableCell let-item="item">
      <div class="align-center">
        <button class="btn btn-primary" [routerLink]="['/admin/orders/', item.$key]">View Order</button>
        <button class="btn btn-success" *ngIf="!item.dateShipped" (click)="markShipped(item.$key)">Mark as Shipped</button>
      </div>
      </ng-template>
    </data-table-column>
  
  </data-table>
    </div>
  </div>
</div>