<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Customer</th>
      <th>Shipping Name</th>
      <th>Date</th>
      <th>Date Shipped</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ getUserNameByUserId(order.userId) }} {{ userName }}</td>
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date:'dd-MM-yyyy'}}</td>
      <td *ngIf="order.dateShipped">{{ order.dateShipped | date:'dd-MM-yyyy' }}</td>      
      <td *ngIf="!order.dateShipped">Order not shipped yet</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/admin/orders/', order.$key]">View Order</button>
        <button *ngIf="!order.dateShipped" class="btn btn-success" (click)="markShipped(order.$key)">Mark as Shipped</button>
      </td>
    </tr>
  </tbody> 
</table>