<div class="card">
  <div class="card-header text-center smallScreen"><h3><strong>My Orders</strong></h3></div>
<div class="card-body">
<div *ngIf="items.length > 0" class="my-orders-table">
    <data-table
      [items]="items"
      [itemCount]="itemCount"
      [indexColumn]="false"
      (reload)="reloadItems($event)">
      <data-table-column
        [property]="'datePlaced'"  
        [header]="'Date Placed'"
        [sortable]="true"
        [resizable]="true"
      >
      <ng-template #dataTableCell let-item="item">
        {{ item.datePlaced | date:'dd-MM-yyyy' }}
      </ng-template>
      </data-table-column>
  
    <data-table-column
    [property]="'dateShipped'"
    [header]="'Date Shipped'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      <div *ngIf="item.dateShipped">
      {{ item.dateShipped | date:'dd-MM-yyyy' }}
    </div>
    <div *ngIf="!item.dateShipped">Order not shipped yet</div>
    </ng-template>
  </data-table-column>
    
      <data-table-column class="align-center"
        [property]="'$key'" 
      >
        <ng-template #dataTableCell let-item="item">
        <div class="align-center" [ngbCollapse]="isCollapsed">
          <button *ngIf="isCollapsed" class="btn btn-primary" [routerLink]="['/my/orders/', item.$key]">View Order</button>
          <button *ngIf="!isCollapsed" class="btn btn-primary" [routerLink]="['/my/orders/', item.$key]"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
        </ng-template>
      </data-table-column>
    
    </data-table>
  </div>
  <div *ngIf="items.length == 0">
    <p class="card-text">You don't have any orders.</p>
  </div>
</div>
</div>