<h1>My Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Date Placed</th>
      <th>Date Shipped</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ order.datePlaced | date:'dd-MM-yyyy'}}</td>
      <td *ngIf="order.dateShipped">{{ order.dateShipped | date:'dd-MM-yyyy' }}</td>      
      <td *ngIf="!order.dateShipped">Order not shipped yet</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/my/orders/', order.$key]">View Order</button>
      </td>
    </tr>
  </tbody> 
</table>