
.dropdown-toggle { 
  cursor: pointer;
}


.dropdown-toggle::after {
  color: #ffbc00;
}

.dropdown-item:active {
  background-color: #ffbc00;
}

.fixed-top {
  z-index: 1000 !important;
}

.badge {
  font-weight: 700;
}