<nav class="navbar navbar-expand navbar-light fixed-top" style="background-color: #23272B;">
  <div class="container">
    <div class="logo">
    <a *ngIf="isMobile" class="navbar-brand" routerLink="/" (click)="scrollTop()">
      H<i class="fa fa-music" aria-hidden="true" style="margin-left: -5px;"></i>N
    </a>
    <a *ngIf="!isMobile" class="navbar-brand" routerLink="/" (click)="scrollTop()" [matTooltip]="copyrightsmessage" [matTooltipPosition]="position" [matTooltipHideDelay]="hideDelay">
      H<i class="fa fa-music" aria-hidden="true" style="margin-left: -5px;"></i>N
    </a>
  </div>
    <button class="navbar-toggle navbar-toggler custom-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()" >
      <div class="navbar-toggler-icon mt-1" >
        <i *ngIf="isCollapsed" class="fa fa-bars" aria-hidden="true"></i>        
        <i *ngIf="!isCollapsed" class="fa fa-times" aria-hidden="true" ></i>      
      </div>  
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault"  [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
             <!-- Using this class in order to align right the next items -->
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="this.shopGpsCoords.lat != 0 && this.shopGpsCoords.lng != 0" class="nav-item">
            <a href="https://waze.com/ul?ll={{ this.shopGpsCoords.lat }},{{ this.shopGpsCoords.lng }}&navigate=yes" class="nav-link" target="_blank" [matTooltip]="navigatewazemessage" [matTooltipPosition]="position" [matTooltipHideDelay]="hideDelay">
              <!-- <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> -->
              <img src="./assets/waze.png" style="height: 27px;" />
            </a>
            
        </li>
        <li class="nav-item">
            <a *ngIf="isMobile" class="nav-link" routerLink="/contact-us"  routerLinkActive="active-link-buttons" (click)="scrollTop()">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
            </a>
            <a *ngIf="!isMobile" class="nav-link" routerLink="/contact-us" routerLinkActive="active-link-buttons" (click)="scrollTop()" [matTooltip]="contactmessage" [matTooltipPosition]="position" [matTooltipHideDelay]="hideDelay">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" (click)="openLoginDialog()" [matTooltip]="loginmessage" [matTooltipPosition]="position" [matTooltipHideDelay]="hideDelay"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i></a>
          </li>
        </ng-template>
        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            
          <a *ngIf="isMobile" ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle fa-lg" aria-hidden="true" ></i>
          </a>
          <a *ngIf="!isMobile" ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
          [matTooltip]="menumessage" [matTooltipPosition]="position" [matTooltipHideDelay]="hideDelay">
              <i class="fa fa-user-circle fa-lg" aria-hidden="true" ></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <hr>
            <a class="dropdown-item dropdown-item-title">Welcome, {{ appUser.name }}</a>
            <hr>
            <a class="dropdown-item" routerLink="/my/orders" (click)="scrollTop()" routerLinkActive="active-link">My Orders</a>
            <a class="dropdown-item" routerLink="/my/messages" (click)="scrollTop()" routerLinkActive="active-link">My Messages</a>
            <ng-container *ngIf="appUser.isAdmin">
              <br>
            <hr>
              <a class="dropdown-item dropdown-item-title">Admin Tools</a>                
            <hr>
              <a class="dropdown-item" routerLink="/admin/inbox" (click)="scrollTop()" routerLinkActive="active-link">Manage Inbox</a>
              <a class="dropdown-item" routerLink="/admin/orders" (click)="scrollTop()" routerLinkActive="active-link">Manage Orders</a>
              <a class="dropdown-item" routerLink="/admin/categories" (click)="scrollTop()" routerLinkActive="active-link">Manage Categories</a>              
              <a class="dropdown-item" routerLink="/admin/products" (click)="scrollTop()" routerLinkActive="active-link">Manage Products</a>
              <a class="dropdown-item" routerLink="/admin/shop-configuration" (click)="scrollTop()" routerLinkActive="active-link">Shop Configuration</a> 
              <a class="dropdown-item" routerLink="/admin/statistics" (click)="scrollTop()" routerLinkActive="active-link">Shop Statistics</a>
              <a class="dropdown-item" routerLink="/admin/admin-permissions" (click)="scrollTop()" routerLinkActive="active-link">Admin Permissions</a>              
            </ng-container>
            <br>
            <hr>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </li>
        <li class="nav-item">
          <a  *ngIf="isMobile" class="nav-link" routerLink="/shopping-cart" (click)="scrollTop()" routerLinkActive="active-link-buttons">
            <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
            <span class="badge" *ngIf="cart$ | async as cart" style="color: #23272B; background-color: #ffbc00; margin-left: 2px;">
              {{ cart.totalItemsCount }}
            </span>
          </a>
          <a  *ngIf="!isMobile" class="nav-link" routerLink="/shopping-cart" (click)="scrollTop()" routerLinkActive="active-link-buttons" [matTooltip]="cartmessage" [matTooltipPosition]="position" [matTooltipHideDelay]="hideDelay">
            <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
            <span class="badge" *ngIf="cart$ | async as cart" style="color: #23272B; background-color: #ffbc00; margin-left: 2px;">
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>