<div class="card">
    <div class="card-header text-center page-title"><h3><strong>Shop Configuration</strong></h3></div>
  <div class="card-body">
      <form [formGroup]="form" class="card-body" (ngSubmit)="save()">   
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
          Shop Information
        </div>
                 
        <div class="card-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" [(ngModel)]="shop.name" name="name" id="name" class="form-control">
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
              Name is required.
            </div>
          </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input formControlName="address" [(ngModel)]="shop.address" name="address" id="address" class="form-control">
          <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
            Address is required.
          </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" [(ngModel)]="shop.email" name="email" id="email" class="form-control">
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                Email is required.
              </div>
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input formControlName="phone" [(ngModel)]="shop.phone" name="phone" id="phone" class="form-control">
            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
              Phone is required.
            </div>
          </div>

        <div class="form-group">
          <label for="fax">Fax</label>
            <input formControlName="fax" [(ngModel)]="shop.fax" name="fax" id="fax" class="form-control">
          <div class="alert alert-danger" *ngIf="fax.touched && fax.invalid">
            <div *ngIf="fax.errors.required">Fax is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="workHours">Working Hours</label>
          <textarea formControlName="workHours" [(ngModel)]="shop.workHours" name="workHours" id="workHours" class="form-control"></textarea>
          <div class="alert alert-danger" *ngIf="workHours.touched && workHours.invalid">
            <div *ngIf="workHours.errors.required">Work Hours are required.</div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class='agm-map-content'>
              <agm-map [latitude]="shop.location.lat" [longitude]="shop.location.lng" [zoom]="zoom" [disableDoubleClickZoom]="true" [mapTypeControl]="true" (mapDblClick)="placeMarker($event)">
                  <agm-marker [latitude]="shop.location.lat" [longitude]="shop.location.lng">
                  </agm-marker>
              </agm-map>
            </div>      
          </div>
          <br>
              <div class="card">
                  <div class="card-header">
                      Shop Location
                    </div>
                <div class="card-body">  
                  <div formGroupName="location">
                      <div class="form-group">
                      <label for="lat">Latitude</label>
                    <input formControlName="lat" [(ngModel)]="shop.location.lat" name="lat" id="lat" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label for="lng">Longitude</label>
                    <input formControlName="lng" [(ngModel)]="shop.location.lng" name="lng" id="lng" class="form-control"/>
                  </div>
                  </div>
                </div>
            </div>
          </div>
  </div>
</form>
</div>
<div class="card-footer text-center">        
    <button [disabled]="!form.valid" class="btn btn-primary" (click)="save()">Save</button>
    <!-- <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger">Delete</button> -->
</div> 
</div>
