<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
  <div class="card-header text-center"><h3><strong>My Messages</strong></h3></div>
<div class="card-body">
<div *ngIf="items.length > 0" class="my-messages-table">
    <data-table
      [items]="items"
      [itemCount]="itemCount"
      [indexColumn]="false"
      (reload)="reloadItems($event)">
      <data-table-column
        [property]="'datePlaced'"  
        [header]="'Date Placed'"
        [sortable]="true"
        [resizable]="true"
      >
      <ng-template #dataTableCell let-item="item">
        {{ item.datePlaced | date:'dd-MM-yyyy hh:mm' }}
      </ng-template>
      </data-table-column>
  
    <data-table-column
    [property]="'message'"
    [header]="'Message'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      <div>
      {{ item.message }}
    </div>
    </ng-template>
  </data-table-column>
    
      <data-table-column class="align-center"
      [property]="'isHandled'"
      [header]="'Handled'"
      [sortable]="true"
      [resizable]="true"
     
      >
        <ng-template #dataTableCell let-item="item">
        <div class="align-center">
          <div *ngIf="item.isHandled">
            <i class="fa fa-check fa-2x" aria-hidden="true"></i>
          </div>
          <div *ngIf="!item.isHandled">
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </div>
        </div>
        </ng-template>
      </data-table-column>
    
    </data-table>
  </div>
  <div *ngIf="items.length == 0">
      <p class="card-text">You didn't send any message yet. if you want to send a message <a routerLink="/contact-us">click here</a>.</p>
    </div>
</div>
</div>