/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$primary-color: #ffbc00;
$primary-color-hover: #23272B;

body { 
  padding-top: 55px; 
  background-image: url('assets/main-bg.jpg');
  background-attachment: fixed;
}

@media screen and (max-width: 577px)
{
    body {
      background-image: none;
    }

    //Fix for zooming on inputting in mobile
    input[type='text'],
    input[type='number'],
    textarea {
      font-size: 16px;
    }
}

.wrapper {
  background-color: white;
  padding: 30px;
  height: 100%;
}

.container {
  height: 100%;
}

h1, h2, h3 { 
  margin-bottom: 1.5rem;
}

.navbar { 
  border-bottom: 3px solid #ffbc00;
}

.nav-link {
  // color: #ffbc00 !important;
  color: #ffffff !important;
  
}

.navbar-light .navbar-brand {
  color: $primary-color;
  font-weight: bold;
  text-shadow: 2px 2px #000000;  
}

.navbar-light .navbar-brand:hover {
    // color: $primary-color-hover;
    color: #e7e7e7;    
}

.navbar-light .navbar-brand:focus {
  color: $primary-color;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $primary-color-hover;
  font-weight: 500;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
  border-color: $primary-color;
  color: $primary-color;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $primary-color;
  border-color: $primary-color;
  opacity: 0.70; 
  cursor: not-allowed;
  color: #ffffff;
}

.btn-primary:disabled:hover {
  background-color: black;
  border-color: $primary-color;
  color: $primary-color;
}

.form-control:focus {
  border-color: $primary-color;
}

.btn {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.btn-secondary {
  background-color: $primary-color;
  color: $primary-color-hover;
  border-color:  $primary-color;
  font-weight: 700;
}

.btn-secondary:hover {
  background-color: $primary-color-hover;
  color: $primary-color; 
  border-color:  $primary-color;
}  

//Styling angular material checkbox 
// .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: $primary-color !important;
// }

// .mat-checkbox-ripple .mat-ripple-element {
//   background: #ffbb0054 !important;
// }
